# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

# Local DynamoDb
.dynamodb

# old, not working backend 
backend
# Another try of client that was not needed
client-2